* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: rgb(211, 244, 255);
    border: 3px solid skyblue;
    border-radius: 22px;
    padding: 20px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

#display {
    border: 1px solid skyblue;
    border-radius: 10px;
    padding: 20px;
    flex: 1;
}

#numbers {
    border: 1px solid skyblue;
    border-radius: 10px;
    padding: 20px;
    flex: 5;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
}

#numbers button {
    flex: 1;
    padding: 10px 15px;
    margin: 5px;
}